APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

TRELLO_KEY=e540ca100f10af8247a0ef77510e552a
TRELLO_TOKEN=51d6d9496843eb42dc30ec9734eb1462be81bfba1e206b12f538676628197051
TRELLO_SECRET=67bbb134cf8fcdd6d28ad1e387bbf9fdd868b4bf7fa8dddc1f6d1b776b377445
TRELLO_REDIRECT_URI=https://trello.com/b/1b4U0PYL
TRELLO_BOARD=@TODOlist personnelle
TRELLO_LIST=Appartement
