version: '3.8'

services:
  database-rpi:
    container_name: database-rpi
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MARIADB_DATABASE: rpi_db
    ports:
      - '3306:3306'
  php-rpi:
    container_name: php-rpi
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    ports:
      - '9000:9000'
    volumes:
      - .:/var/www/app
    depends_on:
      - database-rpi
    environment:
      - "PHP_IDE_CONFIG=serverName=php-rpi"
  nginx-rpi:
    container_name: nginx-rpi
    image: nginx:stable-alpine
    ports:
      - '8080:80'
    volumes:
      - .:/var/www/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-rpi
      - database-rpi
