@import 'settings/settings';
@import 'helpers/helpers';
@import 'layout/layout';
@import 'components/components';
@import 'plugins/plugins';
@import 'animations/animations';

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.slide-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.slide-content {
    text-align: justify;
}
