.bold {
	font-weight: bold;
}

h2 {
	margin-top: 0px;
}

#outOfStock {
	margin-top: 20px;
}
#outOfStock ul {
	padding-left: 0;
	list-style-type: none;
}
#outOfStock ul li > div {
	margin-bottom: 3px;
}
#outOfStock .form-horizontal .control-label {
	text-align: left;
	padding: 0;
}

#liste-courses {
	margin-top: 20px;
}

#liste-courses h3 {
	margin-top:	0px;
}

.btn-adding .btn {
	padding: 1px 8px;
	min-width: 27px;
}

#outofstock_form {
	height: auto;
	overflow: hidden;
}

#outofstock_form.masqued {
	height: 0;
}

#sortable {
	padding: 0;
}
#sortable > li {
	list-style-type: none;
	border-radius: 4px;
	padding: 5px 0;
	line-height: 28px;
}
#sortable > li .ui-icon {
	margin-top: 5px;
}
#sortable > li:hover {
	cursor: grab;
}
#sortable > li::selection {
	cursor: grabbing;
}
#sortable > li .btn {
	color: #fff;
}

#admin-recette #liste_produits {
	list-style-type: none;
}

#admin-recette #liste_produits.box {
	border: solid #555 1px;
	background-color: #f5f5f5;
	padding: 5px;
	margin-top: 10px;
	border-radius: 5px;
}

#admin-recette #liste_produits li {
	line-height: 15px;
	margin-bottom: 2px;
}

#result-recette .recipe {
	height: 20px;
}

#calendar tr.active td {
	background-color: #7DC4DB;
	color: #0099CC;
	font-weight: bold;
}

.modal-backdrop {
	height: 100% !important;
}
.modal-dialog {
	top: -400px;
	width: 720px;
}
