body {
	background: url(../img/screen.jpg);
}

#page {
	padding: 30px;
}

.header, .footer {
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 10px;
    width: 100%;
}

.header a {
    color: #fff;
}


/* home */
#home_links {
	list-style-type: none;
	padding-left: 0;
}

#home_links > li {
	border-radius: 8px;
	border: solid 1px #fff;
	height: 50px;
	margin-bottom: 5px;
	background-color: rgba(255, 255, 255, 0.2);
}

#home_links > li > a {
	color: #fff;
	width: 100%;
	display: block;
	padding-top: 10px;
}

#home_links > li > a > span {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 20px;
}

.home_link {

}
