body {
	background: url(../img/screen.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
	/*color: #fff;*/
}

.h1, .h2, .h3, h1, h2, h3, .control-label, legend
{
	color: #fff;
}

#page {
	padding: 30px;
}

.table {
	background-color: #fff;
}

.table th.actions,
.table td.actions {
	width: 30%;
}

.full_size_link {
	color: #333;
	text-decoration: none;
}

.full_size_link > div {
	width: 100%;
	height: 100%;
}

.panel {
	background-color: transparent;
}

/* header */
.header, .footer {
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 10px;
    width: 100%;
    margin-bottom: 20px;
}

.header a {
    color: #fff;
}

#headingLinks > a {
    position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	border: solid 2px #fff;
	border-radius: 15px;
	margin-right: 5px;
}

#headingLinks > a > span {
	position: absolute;
	top: 7px;
	left: 7px;
}


/* home */
#home_links {
	list-style-type: none;
	padding-left: 0;
}

#home_links > li {
	border-radius: 8px;
	border: solid 1px #fff;
	height: 50px;
	margin-bottom: 5px;
	background-color: rgba(255, 255, 255, 0.2);
}

#home_links > li > a {
	color: #fff;
	width: 100%;
	display: block;
	padding-top: 10px;
}

#home_links > li > a > span {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 20px;
}

.home_link {

}

/* produits */
#product_bloc {
	color: #fff;
	margin-bottom: 10px;
}

.categorie_produits td.nom {
	width: 50%;
}
.categorie_produits td.stock {
	width: 20%;
}
.categorie_produits td.actions {
	width: 30%;
}
