
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

@import "navbar";





*, *::after, *::before {
    box-sizing: border-box;
}

html {
	height: 100%;
	body {
		height: 100%;
		margin: 0;
		padding: 0;
		width: 100%;
		color: #333131;
		font-weight: normal;
		font-family: 'Lato', sans-serif;
		&.nav-md {
			.container-fluid {
				padding: 0;
				.col-md-3 {
					&.left_col {
						background: #2a3f54 none repeat scroll 0 0;
						padding: 0;
						height: 100%;
						position: absolute;
					}
				}
				.col-md-9 {
					&.right_col {
						padding: 0;
						margin-left: 25%;
					}
				}
			}

		}
	}
}
