// navbars
.site_title {
    display: block;
    font-size: 22px;
    font-weight: 400;
    height: 55px;
    line-height: 59px;
    margin: 0;
    padding-left: 10px;
    width: 100%;
	color: #ecf0f1;
	&:hover,
	&:active {
		color: #ecf0f1;
		outline: 0 none;
	}
}

.nav_menu {
    position: static;
	background: #ededed none repeat scroll 0 0;
	border-bottom: 1px solid #d9dee4;
	float: left;
	margin-bottom: 10px;
	position: relative;
	width: 100%;
	.toggle {
		a {
		    cursor: pointer;
		    margin: 0;
		    padding: 15px 15px 0;
		}
	}
}

.main_menu_side {
    padding: 0;
}

.nav {
	&.child_menu,
	&.side-menu {
		> li > a {
			color: #e7e7e7;
			font-weight: 500;
		}
	}
	&.side-menu {
		> li > a {
		    margin-bottom: 6px;
			&:hover {
			    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			    text-decoration: none;
			}
		}
		> li.active,
		> li.current-page {
			border-right: 5px solid #1abb9c;
			> a {
				background: linear-gradient(#334556, #2c4257) repeat scroll 0 0%, #2a3f54 none repeat scroll 0 0;
				box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.16) inset;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			}
		}
		.dropdown {
			cursor: pointer;
		}
	}
	.nav.top_menu > li > a,
	> li > a {
		display: block;
		position: relative;
	}
	> li > a {
	    padding: 13px 15px 12px;
		&:focus {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			text-decoration: none;
		}
	}
}

.nav.child_menu {
	display: none;
	li {
    	padding-left: 36px;
	}
}

.nav.side-menu > li.active,
.nav.side-menu > li.current-page {
    border-right: 5px solid #1abb9c;
	.nav.child_menu {
		display: block;
	}
}


.nav-md ul.nav.child_menu li {
	&::before {
	    background: #425668 none repeat scroll 0 0;
	    border-radius: 50%;
	    bottom: auto;
	    content: "";
	    height: 8px;
	    left: 23px;
	    margin-top: 15px;
	    position: absolute;
	    right: auto;
	    width: 8px;
	    z-index: 1;
	}
	&::after {
		border-left: 1px solid #425668;
		bottom: 0;
		content: "";
		left: 27px;
		position: absolute;
		top: 0;
	}
	.active,
	&:hover {
		background-color: rgba(255, 255, 255, 0.06);
		a {
			background-color: transparent;
		}
	}
}

.nav-item {
	.fa-chevron-right,
	.fa-chevron-down {
		float: right;
	}
}
