
<ul [ngClass]="[root == true ? 'nav side-menu' : 'nav child_menu']">

	<li class="nav-item" *ngFor="let menuItem of menuItems" treelist>
		<a class='nav-link'
		[routerLink]="['/' + menuItem.path]"
		routerLinkActive="active"
		[routerLinkActiveOptions]="{exact: true}">
			<span class="fa fa-fw {{menuItem.icon}}"></span> {{menuItem.name}}
			<span *ngIf="menuItem.children" class="fa fa-chevron-right"></span>
		</a>

		<tree-view *ngIf="menuItem.children"
			[menuItems]="menuItem.children"
			[root]="false"
		></tree-view>
	</li>

</ul>
