<div class="clearfix">

	<h1>{{title}}</h1>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Catégorie</th>
				<th>Etat du stock</th>
				<th class="actions">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let product of products">
				<td>{{ product.nom }}</td>
				<td>Catégorie</td>
				<td>{{ product.quantite }}</td>
				<td>
					<a href="/categories/edit/{{ product.id }}" class="btn btn-sm btn-info">
						<span class="glyphicon glyphicon-edit"></span> Editer
					</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>