@keyframes newItemAnimation {

    0% {
        background-color: transparent;
    }

    5% {
        background-color: #d8f7d2;
    }

    80% {
        background-color: #d8f7d2;
    }

    100% {
        background-color: transparent;
    }

}
